<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--对应返回值 title 是变量-->
  <title><%=title%></title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.css">
  <link rel="stylesheet" href="../../public/bootstrap-3.3.7-dist/css/bootstrap.css">
</head>
<body>
<div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a  class="navbar-brand" href="javascript:;">
          李飞飞博客
        </a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li><a href="/user/signup">注册</a></li>
          <li><a href="/user/signin">登录</a></li>
          <li><a href="/article/add">发表文章</a></li>
          <li><a href="/user/signout">退出</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">